.Content {
    text-align: center;
    color: #08596A;
}

.Content h2 {
    text-transform: uppercase;
    font-family:'Roboto', serif;
}

.SocialIconsAlign {
    display:inline-block;
    
}


/* FOOTNOTE */
#Disclaimer {
    font-size: 90%;
}

.p {
    font-size: large;
    margin: 100px;

}

.box{
    margin: 80px;
    border: 2px solid rgb(123, 226, 115);
    padding: 20px;
}

.Text {
    font-size: 15px;
    font-weight: bold;
}





